<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {% block title %} Bienvenue {% endblock %} | EVENT  </title>
    
    {%  block css %}   {{   encore_entry_link_tags('app') }}  {% endblock %} 

</head>

<body>
    {% block nav %}{% include "menu.html.twig" %}{% endblock %}
    
    <div class="container">

        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}">
                {% for message in messages %}
                    {{ message|raw }}
                {% endfor %}
            </div>
        {% endfor %} 





        {% block body %}
        <h1>Bienvenue à nos évènements</h1>
        <div>

            <h2>Liste des events :{{liste_events|length }}</h2>

            {% if liste_events|length %}
                <div class="card-columns">
                    {% for event in liste_events %}
                        {% include "event/vignette.html.twig" with { "event": event } %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-warning">Aucun event, ni auteur, ne correspond à votre recherche</div>
            {% endif %}
        </div>
    {% endblock %}
    </div>
    {%  block js %}   {{   encore_entry_script_tags('app') }}   {% endblock %}

</body>
</html>